{%extends 'base.html'%}
{%load static%}
{%block content%}

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="row">
	<aside class="col-lg-6">
<div class="card">
    <div class = "card-body">
        <h4 class = "card-title mb-4">Billing Address</h4>
        <form action="" method = "POST">
            {% csrf_token %}
            <div class = "form-row">
                <div class ="col form-group">
                    <label for = "">First Name</label>
                    <input type = "text" name = "first-name" class = "form-control" required>
                </div>
                <div class ="col form-group">
                    <label for = "">Last Name</label>
                    <input type = "text" name = "last-name" class = "form-control" required>
                </div>
            </div>
            <div class = "form-row">
                <div class ="col form-group">
                    <label for = "">Email</label>
                    <input type = "email" name = "email" class = "form-control" required>
                </div>
                <div class ="col form-group">
                    <label for = "">Phone Number</label>
                    <input type = "text" name = "phone" class = "form-control" required>
                </div>
            </div>
            <div class = "form-row">
                <div class ="col form-group">
                    <label for = "">Address Line 1</label>
                    <input type = "text" name = "address_line_1" class = "form-control" required>
                </div>
                <div class ="col form-group">
                    <label for = "">Address Line 2</label>
                    <input type = "text" name = "address_line_2" class = "form-control">
                </div>
            </div>
            <div class = "form-row">
                <div class ="col form-group">
                    <label for = "">City</label>
                    <input type = "text" name = "city" class = "form-control" required>
                </div>
                <div class ="col form-group">
                    <label for = "">State</label>
                    <input type = "text" name = "state" class = "form-control" required>
                </div>
                <div class ="col form-group">
                    <label for = "">Country</label>
                    <input type = "text" name = "country" class = "form-control" required>
                </div>
            </div>
            <div class = "form-row">
                <label for="">Order Note</label>
                <textarea name = "order_note" rows = "2" class = "form-control"></textarea>
            </div>

    </div>
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-lg-6">

		<div class="card">
		<div class="card-body">
            <table class="table table-borderless table-shopping-cart">
                <thead class="text-muted">
                <tr class="small text-uppercase">
                  <th scope="col">Product</th>
                  <th scope="col" width="120">Quantity</th>
                  <th scope="col" width="120">Price</th>
                </tr>
                </thead>
                <tbody>
                {%for cart_item in cart_items%}
                <tr>
                    <td>
                        <figure class="itemside align-items-center">
                            <div class="aside"><img src="{{ cart_item.product.image.url }}" class="img-sm"></div>
                            <figcaption class="info">
                                <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                                <p class="small text-muted">
                                    {% if cart_item.variations.all %}
                                        {% for item in cart_item.variations.all %}
                                            {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </figcaption>
                        </figure>
                    </td>
                    <td> 
                        <!-- col.// -->
                        <label for="">{{cart_item.quantity}}</label>
                    </td>
                    <td> 
                        <div class="price-wrap"> 
                            <var class="price">{{cart_item.sub_total}}</var> 
                            <small class="text-muted"> $578.00 each</small> 
                        </div> <!-- price-wrap .// -->
                    </td>
                </tr>
                {%endfor%}
                </tbody>
                </table>
            <button type = "submit" name = "submit" class = "btn btn-primary btn-block">Place Order</button>
            <a href="{% url 'store'%}" class="btn btn-light btn-block">Continue Shopping</a>
        </form>
        </div> <!-- card-body.// -->
		</div> <!-- card.// -->

</aside> <!-- col.// -->


</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->
</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{%endblock%}