{%extends 'base.html'%}
{%load static%}
{%block content%}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
<div class="container">
	<h2 class="title-page">Our Store</h2>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
	<aside class="col-md-3">

<div class="card">
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Categories</h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_1" style="">
			<div class="card-body">

				<ul class="list-menu">
					<li><a href="{%url 'store'%}">ALL Products</a></li>
					{%for category in links%}
						<li><a href="{{category.get_url}}">{{category.category_name}}</a></li>
					{%endfor%}
				</ul>

			</div> <!-- card-body.// -->
		</div>
	</article> <!-- filter-group  .// -->
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Sizes </h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_4" style="">
			<div class="card-body">
			  <label class="checkbox-btn">
			    <input type="checkbox">
			    <span class="btn btn-light"> XS </span>
			  </label>

			  <label class="checkbox-btn">
			    <input type="checkbox">
			    <span class="btn btn-light"> SM </span>
			  </label>

			  <label class="checkbox-btn">
			    <input type="checkbox">
			    <span class="btn btn-light"> LG </span>
			  </label>

			  <label class="checkbox-btn">
			    <input type="checkbox">
			    <span class="btn btn-light"> XXL </span>
			  </label>
		</div><!-- card-body.// -->
		</div>
	</article> <!-- filter-group .// -->

	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Price range </h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_3" style="">
			<div class="card-body">

				<div class="form-row">
				<div class="form-group col-md-6">
				  <label>Min</label>
				  <!-- <input class="form-control" placeholder="$0" type="number"> -->
				  	<select class="mr-2 form-control">
						<option value="0">$0</option>
						<option value="50">$50</option>
						<option value="100">$100</option>
						<option value="150">$150</option>
						<option value="200">$200</option>
						<option value="500">$500</option>
						<option value="1000">$1000</option>
					</select>
				</div>
				<div class="form-group text-right col-md-6">
				  <label>Max</label>
				  	<select class="mr-2 form-control">
						<option value="50">$50</option>
						<option value="100">$100</option>
						<option value="150">$150</option>
						<option value="200">$200</option>
						<option value="500">$500</option>
						<option value="1000">$1000</option>
						<option value="2000">$2000+</option>
					</select>
				</div>
				</div> <!-- form-row.// -->
				<button class="btn btn-block btn-primary">Apply</button>
			</div><!-- card-body.// -->
		</div>
	</article> <!-- filter-group .// -->

</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<main class="col-md-9">
<header class="border-bottom mb-4 pb-3">
		<div class="form-inline">
			<span class="mr-md-auto">{{product_count}} Items found</span>
		</div>
</header><!-- sect-heading -->

<div class="row">
	{%if products%}
	{%for product in products%}
	<div class="col-md-4">
		<figure class="card card-product-grid">
			<div class="img-wrap">

				<img src="{{product.image.url}}">

			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
				<div class="fix-height">
					<a href="{{product.get_url}}" class="title">{{product.product_name}}</a>
					<div class="price-wrap mt-2">
						<span class="price">{{product.price}}</span>
						<del class="price-old">$1980</del>
					</div> <!-- price-wrap.// -->
				</div>
				<a href="{{product.get_url}}" class="btn btn-block btn-primary">View Details </a>
				<!-- <a href="#" class="btn btn-block btn-success">Added to cart </a> -->
			</figcaption>
		</figure>
	</div> <!-- col.// -->
	{%endfor%}
	{%else%}
	<div>
		<h2>No result found, please try again later.</h2>
	</div>
	{%endif%}
</div> <!-- row end.// -->


<nav class="mt-4" aria-label="Page navigation sample">
	{%if products.has_other_pages %}
	<ul class="pagination">
		{%if products.has_previous%}
		<li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
		{%else%}
		<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>		
		{%endif%}
		{%for i in products.paginator.page_range%}
			{%if products.number == i %}
			<li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
			{%else%}
			<li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
			{%endif%}
		{%endfor%}
		{%if products.has_next_page%}
			<li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
		{%else%}
			<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
		{%endif%}
	</ul>
  {%endif%}
</nav>

	</main> <!-- col.// -->

</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y">
	<div class="container">
		<p class="float-md-right">
			&copy Copyright 2019 All rights reserved
		</p>
		<p>
			<a href="#">Terms and conditions</a>
		</p>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

</body>
</html>
{%endblock%}
