{% extends "base.html" %}

{% block content %}

    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
          <div class="card-body">
          <h4 class="card-title mb-4">Reset Password</h4>
          {% include 'includes/alerts.html' %}
          <form action = "{% url 'resetPassword' %}" method = "POST">
              {% csrf_token %}
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Create Password" name = "password">
              </div> <!-- form-group// -->
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" name = "confirm_password">
              </div> <!-- form-group// -->
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Reset  </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    </section>
{% endblock %}